export(CombineDataObjectInformation, DataObjectOverview, DownloadEOLpages, DownloadHierarchy, DownloadSearchedTaxa, FirstTwo, GatherDataObjectInformation, GatherProviderDataFrame, GatherSynonyms, GetCommonNames, GetReferences, GetRichnessScores, OneFileHierarchy, PingAPI)
import(XML, RCurl, rjson, R.oo)
