export(APItaxon, BestProvider, CombineDataObjectInformation, CombineHierarchyInfo, DownloadSearchedTaxa, GatherSynonyms, GetRichnessScores, DataObjectOverview, FilesToList, FirstTwo, GatherSynonyms,  OneFileHierarchy, DownloadEOLpages, GatherDataObjectInformation, GetCommonNames, MakeHierarchyTree, RepeatDataToDrop, subsetDataForHierTrees, MatchTaxatoEOLID, PingAPI, ProviderCount, DownloadHierarchy, GatherProviderDataFrame, GetReferences, MakeTreeData, ReturnTaxSet, MakeEdgeLabels, NodeLabelList, getTipList, whichEdge, GetHierID, MatchHierPageToEOLdata, CNCount, DOCount, providerCount, PageProcessing, DataProcessing, CollectDataforWeb, GetIUCNStat)
import(XML, RCurl, R.oo, ape)
